<div id="two">
<div class="context">
  <h1>WEB TECHNOLOGY</h1>
</div>
</div>

<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div >

<ul class="menu cf">
    <li id="one">
    
      <a>Select Language</a>
      <ul class="submenu">
        <select class="custom-select" (change)="changeLang($any($event.target).value)">
            <option value="en" [selected] = "lang =='en'">English</option>
            <option value="de" [selected] = "lang =='de'">Deutsh</option>
            <option value="ar" [selected] = "lang == 'ar' ">Arabic</option>
            <option value="hi" [selected] = "lang =='hi'">Hindi</option>
            <option value="ja" [selected] = "lang =='ja'">Japanese</option>
            <option value="ch" [selected] = "lang == 'ch' ">Chinese</option>
            <option value="fr" [selected] = "lang =='fr'">French</option>
            <option value="it" [selected] = "lang =='it'">Italian</option>
            <option value="sp" [selected] = "lang == 'sp' ">Spanish</option>
            <option value="kr" [selected] = "lang =='kr'">Korean</option>
            <option value="da" [selected] = "lang =='da'">Danish</option>
        </select>
      </ul>	
  	
    </li>
    </ul>




    
    <!-- <li><a href="">Menu item</a></li>
    <li><a href="">Menu item</a></li>
    <li><a href="">Menu item</a></li>
  </ul>
<nav class="container mb-4 mt-4">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-3"> 
            <select class="custom-select" (change)="changeLang($any($event.target).value)">
                <option value="en" [selected] = "lang =='en'">English</option>
                <option value="de" [selected] = "lang =='de'">Deutsh</option>
                <option value="ar" [selected] = "lang == 'ar' ">Arabic</option>
                <option value="hi" [selected] = "lang =='hi'">Hindi</option>
                <option value="ja" [selected] = "lang =='ja'">Japanese</option>
                <option value="ch" [selected] = "lang == 'ch' ">Chinese</option>
                <option value="fr" [selected] = "lang =='fr'">French</option>
                <option value="it" [selected] = "lang =='it'">Italian</option>
                <option value="sp" [selected] = "lang == 'sp' ">Spanish</option>
                <option value="kr" [selected] = "lang =='kr'">Korean</option>
            </select>
        </div>
    </div>
</nav> -->